@model CoffeeShop.Models.NhanVienView;
@{
    Layout = "~/Views/User/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="vn">

<head>
    <meta charset="UTF-8">
    <title>Chinh</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/CV/sheet/bootstrap.css">
    <link rel="stylesheet" href="~/CV/sheet/ionicons.min.css">
    <link rel="stylesheet" href="~/CV/sheet/mine.css">
    <script src="~/CV/javascript/myscript.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-11 mx-auto profile">
                <div class="py-3 px-2 px-lg-4 py-lg-5">

                    <div class="row">
                        <div class="avatarBox col-12 col-lg-5">
                            <img src="~/CV/img/11.png" class="img-fluid">
                        </div>

                        <div class="infoBox col-12 col-lg-6 mt-2 mt-lg-0">
                            <p class="sayHi">Hello</p>

                            <div class="name">
                                <p><span>User</span> </p>
                                <p class="s">
                                    Xác thực
                                    <span class="ion-ios-checkmark-outline"></span>
                                </p>
                                <p><span class="ion-android-globe"></span>SGU</p>
                            </div>
                            <hr>
                            <tbody>
                                @if (Model.NhanVien != null)
                                {
                                    @foreach (var item in Model.NhanVien)
                                        @if (item.MaNV == ViewBag.User.username)
                                        {

                                            <div class="detailInfo">
                                                <div class="row my-2">
                                                    <div class="col-lg-4 col-12 boldd">Tên</div>
                                                    <div class="col-lg-8 col-12 b">@item.HoNV @item.TenNV</div>
                                                </div>
                                                <div class="row my-2">
                                                    <div class="col-lg-4 col-12 boldd">Số Điện Thoại</div>
                                                    <div class="col-lg-8 col-12 b">@item.SDT</div>
                                                </div>
                                                <div class="row my-2">
                                                    <div class="col-lg-4 col-12 boldd">Giới Tính</div>
                                                    <div class="col-lg-8 col-12 b">@item.GioiTinh</div>
                                                </div>
                                            </div>
                                        }
                                    }
                            </tbody>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-11 mx-auto bg-danger contact text-center">
                <div class="social col-12">
                    <!-- Facebook -->
                    <a href="https://facebook.com/chinhnd719" target="_blank">
                        <span class="ion-social-facebook mr-4 mr-lg-5"></span>
                    </a>
                    <span class="ion-social-instagram-outline mr-4 mr-lg-5 ml-lg-3"></span>
                    <span class="ion-social-whatsapp-outline mr-4 mr-lg-5 ml-lg-3"></span>
                    <span class="ion-social-skype-outline mr-4 mr-lg-5 ml-lg-3"></span>
                    <span class="ion-social-twitter-outline mr-4 mr-lg-5 ml-lg-3"></span>
                    <span class="ion-social-linkedin-outline ml-lg-3"></span>
                </div>
            </div>
        </div>
    </div>

</body>
</html>